@import '../../common/color.scss';

.movie-detail {
    min-height: calc(100vh - 144px);
}

.movie-section {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
    color: $font-primary;
    font-weight: 400;

    .section-left {

        .movie-title {
            font-size: 40px;
            color: $font-primary;
        }

        .movie-rating {
            padding-left: 3px;
            margin-top: 2rem;
            color: $font-secondary;
            display: flex;

            span {
                margin-right: 2rem;
            }

            svg {
                color: #ff9e00;
            }
        }

        .movie-plot {
            margin-top: 2rem;
            line-height: 1.8;
        }

        .movie-info > div span:first-child {
            padding: 1rem 0;
            color: $font-primary;
            font-weight: 600;
            width: 100px;
            display: inline-block;
        }

        .movie-info > div span {
            color: $font-secondary;
        }
    }

    .section-right {
        margin-left: 3rem;
    }
}

@media screen and (max-width:720px) {
    .movie-section {
        display: flex;
        flex-direction: column-reverse;

        .section-right {
            margin-left: 0;
            margin-bottom: 1rem;
        }
    }
}